h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600; /* Aumentado para mayor claridad */
    margin-bottom: 10px; /* Ajustado el espaciado */
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #F2BB16; 
    color: #048C8C;
    text-transform: uppercase;
    max-width: 80%; /* Reducido el ancho máximo del título */
    margin-left: auto; /* Centra el título */
    margin-right: auto; /* Centra el título */
    border-top: 5px;
   
}
h2{
    font-family: "Raleway",sans-serif;
    font-size: 19px;
    font-weight: 500;
    border-top: 2px;
    text-align: left;
    font-style: italic;
    border-top: 5px;
}
p{
    font-size: 17px;
    font-family: "Poppins",sans-serif;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 10px;
    padding-left: 15px;
    font-weight: 200;
  }

.modeloE, .fundamentos , .estrategias, .evaluacion{
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    gap: 10px; /* Ajustado el espaciado */
    max-width: 900px;
    margin: auto;
    padding: 10px;
    align-items: center; /* Alinea los elementos al centro */
}
