
#carouselExampleAutoplaying .carousel-item img {
    max-width: 100%; /* Limita el ancho al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 400px; /* Limita la altura máxima de las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionar */
  }
  
/* Estilo de las Cards */
.card-container {
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5%;
    white-space: nowrap;
    
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.row h1 {
    font-size: 34px; 
    font-weight: bold; 
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    border-bottom: 2px solid #F2BB16; 
    color: #048C8C;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Mapa (con contenedor) */
.map-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
    font-family: 'Poppins', serif;
    font-weight: 900;
    font-style: normal;
   text-align: center;
   color: #048C8C;

}
.map-container h2{
    font-size: 34px; 
    font-weight: bold; 
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    border-bottom: 2px solid #F2BB16; 
    color: #048C8C;
    text-align: center;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
