
:root {
  --primary-color: #048C8C;
  --secondary-color: #F2BB16;
  --text-color: #333;
}

p {
  font-size: 17px;
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 10px;
  padding-left: 15px;
  font-weight: 200;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform:inherit;
  margin-bottom: 15px;
  font-size: 28px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  text-align: center;
  white-space: nowrap; /* Evita que el texto se envuelva */
  overflow: hidden;    /* Oculta el texto que excede el ancho */
  max-width: 100%; 
}

.mision-vision {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  max-width: 900px;
  margin: auto;
  padding: 25px;
}

.mision-box, .vision-box {
  flex: 1;
  padding: 25px;
  border-radius: 10px;
  max-width: 900px;
  margin-right: 15px;
}

.mision-box {
  order: 1;
}

.vision-box {
  order: 2;
}

.filosofia-box {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Imagen */
.mision-vision img {
  width: 100%;
  height: auto;
  max-width: 450px;
  max-height: 300px;
  border-radius: 5px;
  order: 3;
  margin: 0 auto;
  display: block;
}

/* Responsivo */
@media (max-width: 768px) {
  .mision-vision {
      flex-direction: column;
      text-align: center;
  }

  .mision-box, .vision-box, .filosofia-box {
      text-align: center;
      max-width: 100%;
  }
}

.creencias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 25px;
}


.creencias li {
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 15px;
  font-weight: 200;
  
}

img {
  max-width: 100%;
  height: auto;
}
